<!DOCTYPE html>
<html>
<head>
    <title>AI SIMILARITY SEARCH</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>SIMILARITY SEARCH FOR ECOMMERCE</h1>
    <p class="subtitle">Smart Image Similarity Search</p>

    <!-- Upload Box -->
    <div class="upload-box">
        <input type="file" id="fileInput">
        <button onclick="search()">🔍 Search</button>
    </div>

    <!-- Preview -->
    <div id="preview"></div>

    <!-- Results -->
    <h2 id="resultTitle"></h2>
    <div id="results"></div>

</div>

<script src="/static/script.js"></script>
</body>
</html>